.wrap{
position: relative;
text-align: center;
background-color: #81C1EF;
}
.location{
	float: left;
}
header{
	background-color: #57AEF1;
	
}
.news_list{
	
}
.main_item{
	
}
.date{
	
}
.bliz{
	float: right;
}
.content{
	
}
.medialist{

}
.serch{
	
background-color: #339BE6;
}
.logo{

}
.main_content{
	
}
.subcontent{
	
}
