body{

}
.wrap{
position: relative;
text-align: center;

width: auto;
}
.location{
	float: left;
}
header{

	
}
.news_list{
	
}
.news_list li{
	
}
.main_item{
	
}
.date{
	
}
.bliz{
	float: right;
}
.content{
	
}
.medialist{

}
.serch{


}
.logo{

}
.main_content{
	
}
.subcontent{
	
}
